<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="manifest" href="imzer.webmanifest">
  <meta name="theme-color" content="#FFFFFF">
  <meta name="author" content="<%= htmlWebpackPlugin.options.pkg.author %>">
  <meta name="description" content="<%= htmlWebpackPlugin.options.pkg.description %>"/>
  <meta name="google" content="notranslate"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="icons/imzer-512.png">
  <link rel="shortcut icon" href="icons/imzer.svg">
  <link rel="icon" type="image/svg" href="icons/imzer.svg"/>
  <title>imzer - localize and be localized</title>
</head>
<body>
<div id="map"></div>
</body>
</html>